.comments {
  background: $white-dark;

  &-form {
    width: 700px;
    margin: 35px auto;

    form {
      @include clearfix;
      textarea {
        width: 100%;
        border-radius: 6px;
        background: #f0f0f0;
        border: 0;
        resize: none;
        padding: 15px;
        height: 150px;
        font: $font-base $open-sans;
      }
    }

    &-button {
      background: $comments-btn-bg;
      color: $comments-btn-text;
      border-radius: 20px;
      padding: 15px 45px;
      text-align: center;
      font: $font-small $montserrat;
      font-weight: bold;
      border: 0;
      text-transform: uppercase;
      margin: 10px 0;
      float: right;
    }
  }

  &-title {
    border-top: 1px solid $comments-line;
    border-bottom: 1px solid $comments-line;

    &-content {
      width: 700px;
      margin: 0 auto;
    }

    h1 {
      margin: 0;
      padding: 0;
      display: inline-block;
      font: $font-base $montserrat;
      font-weight: 600;
      padding: 25px 10px;
      text-transform: uppercase;
    }

    span {
      vertical-align: middle;

      &.comments-counter {
        background: $comments-counter;
        padding: 5px 12px;
        border-radius: 12px;
        color: $white;
        font: $font-x-small $montserrat;
        font-weight: bold;
      }
    }
  }

  &-list {
    width: 700px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  &-item {
    padding: 35px 0 50px 0;
    border-bottom: 1px solid $comments-line;

    &-date {
      text-align: right;
      font: $font-small $open-sans;
      color: $comments-content;
      padding: 20px 0;
    }

    &-content {
      @include clearfix;
      font: $font-base $open-sans;
      line-height: 26px;
      color: $comments-content;
    }

    &-author {
      &-image {
        display: block;
        margin: 20px auto;
        width: 70px;
        height: 70px;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: 100%;
          height: auto;
          display: block;
          margin: 0 auto;
        }
      }

      &-name {
        padding: 20px 0;

        a {
          text-decoration: none;
          color: $comments-author;
          text-transform: uppercase;
          font-weight: bold;
          font: $font-base $montserrat;
        }
      }
    }
  }
}