.error-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  z-index: 1500;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 1000%;
    height: 1000%;
    background: rgba(0, 0, 0, 0.7);
    top:-500%;
    left: -500%;
  }

  &-wrapper {
    padding: 35px 50px 5px 50px;
    background: $white-dark;
    border-radius: 7px;
  }

  &-title {
    text-align: center;

    h1 {
      padding: 15px 0;
      font: $font-medium $arvo;
      color: $black
    }
  }

  &-errors {
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      text-align: left;
      font: $font-x-small $montserrat;
      font-weight: bold;
      text-transform: uppercase;
      color: #9fa3a7;
      padding: 5px 25px;
    }
  }

  &-buttons {
    text-align: center;
    margin: 15px 0 0 0;
  }

  &-button {
    padding: 15px 25px;
    color: $white;
    background: $red;
    border-radius: 7px;
    cursor: pointer;
    font: $font-large $montserrat;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
  }
}