.gyms-trainers {
  margin-bottom: 50px;

  &-title {
    width: 1000px;
    margin: 0 auto;

    h1 {
      font: 60px $arvo;
      line-height: 74px;
      color: $black;
      margin: 0;
      padding: 35px 50px;
    }
  }


  &-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background: $white;
    width: 1000px;
    @include clearfix;
  }

  &-item {
    @include clearfix;
    height: 250px;
    width: 50%;
    float: left;
    background: #f5f5f5;

    &:nth-child(2n) {
      background: $yellow;

      .gyms-trainers-item-name {
        a {
          color: $white;
        }
      }

      .gyms-trainers-item-about {
        color: $white;
      }
    }

    &:nth-child(3n) {
      background: #d2dde4;
      text-align: right;

      .gyms-trainers-item-about {
        color: #9fa3a7;
      }
    }

    &:nth-child(4n) {
      background: $black;
      text-align: right;

      .gyms-trainers-item-about {
        color: #9fa3a7;
      }
    }

    &-image {
      float: left;
      width: 50%;
    }

    &-content {
      float: left;
      width: 50%;
      padding: 25px;
    }

    &-name {
      a {
        font: $font-medium $arvo;
        color: $black;
        text-decoration: none;
        margin: 0 0 15px 0;
      }
    }

    &-about {
      font: $font-minor $open-sans;
      color: #9fa3a7;
      line-height: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      max-height: 140px;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      padding: 15px 0;
    }
  }
}