.user-gyms {
  padding: 35px 0;

  &-title {
    width: 1000px;
    margin: 0 auto;

    h1 {
      font: 60px $arvo;
      line-height: 74px;
      color: $black;
      margin: 0;
      padding: 35px 50px;
    }
  }

  &-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 1100px;
    text-align: center;
    @include clearfix;
  }

  &-item {
    width: 30%;
    display: inline-block;
    border-radius: 6px;
    background: $white-dark;
    overflow: hidden;
    margin: 25px 25px 25px 0;
    height: 350px;

    &-header {
      position: relative;
    }

    &-footer {
      padding: 25px;
    }

    &-cover {
      height: 125px;
      overflow: hidden;
      width: 100%;

      img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    }

    &-profile {
      position: absolute;
      height: 75px;
      width: 75px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid $white-dark;
      bottom: -30px;
      right: 15px;

      img {
        width: 100%;
        display: block;
        margin: 0 auto;
      }
    }

    &-title {
      text-align: left;
      padding: 25px 0;

      a {
        font: $font-large $arvo;
        line-height: 32px;
        color: $black;
        text-decoration: none;
      }
    }

    &-about {
      text-align: left;
      font: $font-base $open-sans;
      line-height: 26px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      max-height: 45px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: $grey-light;
    }

    &:nth-child(4n) {
      background: $yellow;

      .user-gyms-item-about {
        color: $white
      }

      .user-gyms-item-title {
        a {
          color: $white
        }
      }
    }

    &:nth-child(3n) {
      background: $black;

      .user-gyms-item-about {
        color: $white
      }

      .user-gyms-item-title {
        a {
          color: $white
        }
      }
    }

    &:nth-child(5n) {
      width: 60%;

      .user-gyms-item-about {
        text-align: left;
        font: $font-base $open-sans;
        max-height: 85px;
        -webkit-line-clamp: 3;
      }
    }
  }
}
