@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext);
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Arvo');

//font-family
$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$impact: Impact, Charcoal, sans-serif;
$lato: "Lato", sans-serif;
$lucinda-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$monospace: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
$open-sans: "Open Sans", Helvetica, Arial, sans-serif;
$roboto: 'Roboto', sans-serif;
$tahoma: Tahoma, Geneva, sans-serif;
$times-new-roman: "Times New Roman", Times, serif;
$trebuchet: "Trebuchet MS", Helvetica, sans-serif;
$verdana: Verdana, Geneva, sans-serif;
$pt-sans : 'PT Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$arvo: 'Arvo', serif;
//font-size
$font-x2-small: 8px;
$font-x-small: 10px;
$font-small: 12px;
$font-minor: 14px;
$font-base: 14px;
$font-slight: 18px;
$font-medium: 20px;
$font-large: 24px;
$font-x-large: 36px;
$font-x2-large: 48px;