.find-gym {
  &__background {
    background: url('/assets/img/background/background-4.jpg') no-repeat center center/cover;
    padding: 250px 0;
    border-radius: 50px;
  }
}

.geosuggest {
  font-size: 24px;
  position: relative;
  width: 50%;
  margin: 1em auto;
  text-align: left;

  &__input {
    width: 100%;
    font-size: 24px;
    border: 1px solid transparent;
    box-shadow: 0 0 1px #3d464d;
    padding: .5em 1em;
    -webkit-transition: border 0.2s, box-shadow 0.2s;
    transition: border 0.2s, box-shadow 0.2s;

    &:focus {
      border-color: #267dc0;
      box-shadow: 0 0 0 transparent;
    }
  }

  &__suggests {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 50em;
    padding: 0;
    margin-top: -1px;
    background: #fff;
    border: 1px solid #267dc0;
    border-top-width: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    z-index: 5;
    -webkit-transition: max-height 0.2s, border 0.2s;
    transition: max-height 0.2s, border 0.2s;

    &--hidden {
      max-height: 0;
      overflow: hidden;
      border-width: 0;
    }
  }

  /**
 * A geosuggest item
 */

  &__item {
    font-size: 24px;
    padding: .5em .65em;
    cursor: pointer;

    &:hover, &:focus {
      background: #f5f5f5;
    }

    &--active {
      background: #267dc0;
      color: #fff;

      &:hover, &:focus {
        background: #ccc;
      }
    }
  }
}





