.find-gym {
  &__background {
    background: url('/assets/img/background/background-6.jpg') no-repeat center center/cover;
    padding: 250px 0;
    border-radius: 25px;
  }

  &__result {
    padding: 50px 0;

    &__gym {
      &__desc {}

      &__location {
        iframe {
          width: 100%;
          display: block;
        }
      }
    }


  }
}
