.navbar {
  border: $none;
  border-radius: 0;
  font-size: $font-size-navbar;
  z-index: 3;

  &-minimize {
    .btn {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 15px;
    }

    .ti-more-alt {
      display: inline-block;
      min-width: 14px;
    }
  }
}
