body {
  background-color: $bg-nude;
  &.sidebar-mini {
    .sidebar {
      .sidebar-wrapper {
        height: calc(100vh - 95px);
      }
    }
  }
}

.sidebar {
  position: fixed;
  background: #fff;
  border-right: 1px solid $light-gray;;

  .sidebar-wrapper {
    height: calc(100vh - 75px);
    position: relative;
    overflow: hidden;
    z-index: 4;
    width: 260px;
  }

  .logo-mini {
    display: none;
  }

  .user {
    padding-bottom: 20px;

    .photo {
      width: 80px;
      height: 80px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto;

      @extend .general-animation;

      a {
        padding: 0;
        overflow: hidden;
        border-radius: 50%;
        opacity: 1;
        img {
          width: 100%;
        }
      }
    }

    a {
      opacity: .7;
      color: $font-color;
      padding: $padding-base-vertical $padding-large-vertical;
      text-align: center;
      display: block;
      @extend .general-animation;

      &:hover,
      &:visited,
      &:focus {
        color: $font-color;
        opacity: 1;
      }
    }
  }
}

.sidebar {
  width: 260px;
  display: block;

  .logo {
    padding: 18px 0px;
    margin: 0;
    height: 75px;
    position: relative;
    z-index: 4;
    border-bottom: 1px solid $light-gray;

    a {
      padding: $padding-small-vertical $padding-zero;
      display: block;
      font-size: $font-size-large;
      text-align: center;
      font-weight: $font-weight-normal;
      line-height: 30px;
      white-space: nowrap;
    }

    p {
      float: left;
      font-size: 20px;
      margin: 10px 10px;
      line-height: 20px;
    }
  }

  .sidebar-wrapper > .nav {
    margin-top: 10px;

    li {
      > a {
        margin: 10px 0px 0px;
        padding-left: 25px;
        padding-right: 25px;
        opacity: .7;
      }

      &:hover > a {
        opacity: 1;
      }

      &.active > a {
        color: $primary-color;
        opacity: 1;
      }
    }

    p {
      margin: 0;
      line-height: 30px;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      position: relative;
      left: 0;
      opacity: 1;
      white-space: nowrap;

      @extend .general-animation;
    }
  }

  .nav {
    i {
      font-size: 24px;
      float: left;
      margin-right: 15px;
      line-height: 30px;
      width: 30px;
      text-align: center;
    }
  }

  & {
    @include sidebar-background-color($white-background-color, $default-color);
    @include sidebar-active-color($warning-color);
    .user {
      margin-top: 20px;

      .photo {
        border: 4px solid rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.main-panel {
  overflow: auto;
  position: relative;
  z-index: 2;
  float: right;
  width: $sidebar-width;
  min-height: 100%;

  > .content {
    padding: 30px 15px 0 15px;
    min-height: calc(100% - 123px);
  }

  > .footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navbar {
    margin-bottom: 0;
  }
}

.sidebar,
.main-panel,
.sidebar-wrapper {
  -webkit-transition-property: top, bottom, width;
  transition-property: top, bottom, width;
  -webkit-transition-duration: .2s, .2s, .35s;
  transition-duration: .2s, .2s, .35s;
  -webkit-transition-timing-function: linear, linear, ease;
  transition-timing-function: linear, linear, ease;
  -webkit-overflow-scrolling: touch;
}

.sidebar,
.main-panel {
  max-height: 100%;
  height: 100%;
}

.sidebar-mini {
  .sidebar {
    width: 80px;
    display: block;
    z-index: 3;
    border-right: 1px solid $light-gray;

    .sidebar-wrapper {
      overflow: inherit;
      width: 80px;
    }

    .logo {
      display: none;
    }

    .logo-mini {
      display: block;
    }

    .sidebar-wrapper > .nav {

      a {
        transition: none;
      }

      li {
        > a {
          margin: 10px 0px;
          padding-left: 25px;
          padding-right: 25px;
        }
      }

      li.active {
        > a {
          &:before,
          &:after {
            display: none;
          }
        }
      }

      p {
        display: none;
        left: -20px;
        opacity: 0;
      }

      i {
        float: none;
      }
    }

    .user {
      position: relative;
      margin-top: 20px;

      .nav {
        a {
          transition: none;
        }
      }

      .info {
        > a {
          height: 0;
          opacity: 0;
          padding: 0;
        }
      }

      .photo {
        width: 50px;
        height: 50px;
        border-width: 2px;
      }
    }
  }

  .main-panel {
    width: calc(100% - 80px);
    margin-left: 80px;
  }

  .wrapper {
    height: auto;
  }

  .sidebar,
  .main-panel {
    overflow: visible;
    max-height: none;
    height: auto;
  }
}
